*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --light: whitesmoke;
  --light-grey: #e8e8e8;
  --pink: #ff176b;
  --medium-dark: #777;
  --dark: #242526;
  --border-rad-lg: 15px;
}
.section {
  flex: 1;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 90%;
}

/* body {
  display: grid;
  grid-template-rows: 98% auto;
  min-height: 100vh;
  margin: 0;
} */

/* sections */

.intro,
.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;
}

.intro {
  margin-top: 0;
  /* background-image: url('bg.png'); */
  background-repeat: no-repeat;
  background-position: right 90%;
  background-size: cover;
  background-color: #0ea5e9;
  color: white;
}

.form-input {
  margin: 1em 1em 0 1em;
}

h1 {
  font-size: 2.2rem;
  margin-top: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

h2,
h3,
h4 {
  text-align: center;
  font-weight: 300;
  margin: 0 0 0.5em 0;
  padding: 0 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #0ea5e9;
}

strong {
  font-weight: 700;
}

textarea,
input[type='text'] {
  border: 1px solid #0ea5e9;
  width: 280px;
  padding: 15px 15px;
  border-radius: 5px;
}

select {
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  background-color: transparent;
  border: 1px solid #0ea5e9;
  padding: 15px;
  width: 280px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  display: grid;
  /* Add the custom arrow image */
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position: right center;
  background-repeat: no-repeat;
  /* Adjust padding to accommodate the arrow */
  padding-right: 40px;
  font-size: 0.8em;
}

#digest,
#wait-message {
  color: #0369a1 !important;
}

textarea {
  resize: none;
  height: 75px;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.4;
  color: #0ea5e9;
}

button {
  margin-top: 1em;
  background: #0ea5e9;
  width: 280px;
  padding: 15px 0;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins';
  font-size: 1.3rem;
}
button:hover {
  background-color: var(--medium-dark);
}

#view-pitch-btn {
  width: 250px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 0 0.5em 0;
  justify-content: center;
}

label {
  margin-bottom: -0.6em;
  margin-top: 0.6em;
  z-index: 1;
  background-color: white;
  padding: 0 0.5em;
  color: #0369a1;
}

@media (min-width: 600px) {
  main {
    display: flex;
  }

  .intro {
    height: 100vh;
    max-width: 50%;
    justify-content: space-around;
    background-position: bottom 50% right;
  }

  .form-input {
    justify-content: center;
    align-items: center;
    margin-top: unset;
    width: 50%;
  }

  p {
    background-color: white;
    color: #0369a1;
    padding: 0.3em;
    border-radius: 5px;
  }
}

.wait-container {
  display: none;
  flex-direction: column;
  margin: 1em auto;
  padding: 1em;
  width: 320px;
  border: 3px solid #0ea5e9;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.output-container {
  display: none;
  flex-direction: column;
  margin: 1em auto;
  padding: 1em;
  width: 47%;
  border: 3px solid #0ea5e9;
  border-radius: 15px;
  background-color: var(--light-grey);
}

.output-img-container > img {
  width: 60%;
  border-radius: var(--border-rad-lg);
  box-shadow: 1px 1px 5px 1px var(--dark);
}

.output-img-container {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

SPAN.li {
  display: list-item;
  margin-left: 0.8em;
}

#output-title {
  margin-top: 0.3em;
  margin-bottom: 0;
  color: #0369a1;
  font-family: 'Lobster', cursive;
}
#output-summary {
  margin: 0.1em 0;
  padding: 0;
  background-color: transparent;
}

#output-text {
  background-color: transparent;
}

/* Footer */

footer {
  background-color: rgba(255, 255, 170, 0.895);
  color: var(--medium-dark);
  padding: 0.8em;
  font-size: 0.7em;
  text-align: center;
}
